name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v4
        with:
          node-version: 25
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm dlx playwright install --with-deps chromium

      - name: Run Playwright tests
        run: pnpm test

      - name: Run Playwright tests e2e
        run: pnpm test:e2e
        env:
          IMAGE_TAG: latest

      - name: Upload All Reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: all-playwright-reports
          path: libs/**/playwright-report/
          retention-days: 30

      - name: Create Release (Changesets & JSR)
        uses: changesets/action@v1
        with:
          publish: |
            pnpm exec changeset publish
            pnpm --filter "./libs/*" exec jsr publish
          commit: "chore: version packages"
          title: "chore: version packages"
          createGithubReleases: true
        env:
          # https://github.com/changesets/action/issues/542#issuecomment-3642334398
          NPM_TOKEN: ''
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: false
